.footer-container{
    display: flex;
    justify-content: center !important;
    padding: 2rem;
    margin-top: 2rem;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}