.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: flex-start;
    padding: 2%;
    margin-right: auto;
    margin-left: auto;
}
.card-container adoption{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: flex-start;
    margin-right: auto;
    margin-left: auto;
}

.feed-container {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    padding: 2%;
    margin-right: auto;
    margin-left: auto;
}

.chadopt-description{
    border: black 2px solid;
    border-radius: 30px;
    width: 75%;
    margin: 2rem;
    padding: 2rem;
}

.chadopt-description p{
    font-size: 1.5rem;
    text-align: center;
}
.chadopt-filtres {
    /*border: black 2px solid;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 30px;
    width: 80%;
    margin: 2rem;
    padding: 2rem;
}

.user-chadopt-status {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    background-color: rgba(146, 203, 33, 0.82);
    border-radius: 20px;
}

.user-chadopt-status p {
    font-size: 1rem;
}

.chadopt-status {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.user-chadopt-status h2 {
    color: whitesmoke;
}

#status-info {
    color: whitesmoke;
}


/* Style de base pour le select */
select {
    padding: 8px;
    font-size: 16px;
    font-family: Poppins;
    width: 300px;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-right: 10px;
    background-color: whitesmoke;
}

/* Style des options du select */
select option {
    font-size: 16px;
}

/* Style du label pour la checkbox */
label {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 16px;
}

/* Style de la checkbox */
input[type="checkbox"] {
    margin-right: 5px;
}