.nav-container{
    /*position: fixed;*/
    display: flex;
    justify-content: center !important;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.container-fluid {
    display: flex;
    width: 90%;
    padding: 2%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
}

.flex {
    display: flex;
}

.flex p {
    cursor: pointer;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.logo img {
    width: 100px !important;
    height: fit-content;
    border-radius: none !important;
    object-fit: initial !important;
}