/* Ajouter ces styles dans votre fichier CSS ou directement dans votre composant */
.catModal-form{
    overflow:inherit;

}

.modal-container {
    position: fixed;
    background-color: white;
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-height:80%;
    overflow: scroll;
}

.modal-title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center !important;
    padding-bottom: 0.5rem;
}

.modal-dialog {
    margin: 0;
}

.modal-content {
    border: none;
}

.form-input {
    /*width: 100%;*/
    height: 2.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: grey 1px solid;
    border-radius: 10px;
    font-size: 1rem;
}

.form-textarea {
    width: 100%;
    font-size: 1rem;
    border: rgba(0, 0, 0, 0.47) 1px solid;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.modal-container .chadopt-group-btn {
    display: block;
    opacity: 1;
    cursor: pointer;
}

.edit-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.edit-icon {
    font-size: 2rem;
    padding-right: 2rem;
    color: dimgray;
    cursor: pointer;
}

.edit-icon:hover {
    color: black;
}

.edit-icon:active {
    color: #91ca21;
}

.cat-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left : 1rem;
    padding-right : 1rem;
}

.cat-info p{
    font-weight: bold;
}

.cat-sex{
    display: flex;
    justify-content: flex-start;
}

.cat-sex #fa {
    padding-right: 0.5rem;
    font-size: 1.5rem;
}


.cat-photo-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.modal-description {
    flex: 1;
    border: rgba(0, 0, 0, 0.47) 1px solid;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.cat-photo-description img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.error-message {
    color: orange;
    cursor: pointer;
}

.error-message-div {
    display: flex;
    justify-content: center;
}

.footer-group-btn {
    display: flex;
    justify-content: space-between;
}